<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd\

## Extract Data Using an API

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

In [8]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=9546f94869c077faeab10a64b107bd30"  #Make sure to change ******* to your API key.
req = requests.get(url)
req.headers['Content-Type']

'application/json; Charset=UTF-8'

In [10]:
req.json()

{'AED': 4.04948,
 'AFN': 93.236207,
 'ALL': 103.76465,
 'AMD': 423.8373,
 'ANG': 1.972208,
 'AOA': 909.481183,
 'ARS': 304.294185,
 'AUD': 1.674241,
 'AWG': 1.987233,
 'AZN': 1.878605,
 'BAM': 1.955511,
 'BBD': 2.209473,
 'BDT': 119.272356,
 'BGN': 1.955511,
 'BHD': 0.412539,
 'BIF': 3099.841428,
 'BMD': 1.102487,
 'BND': 1.470382,
 'BOB': 7.561881,
 'BRL': 5.382104,
 'BSD': 1.094338,
 'BTC': 3.7871958e-05,
 'BTN': 90.602597,
 'BWP': 14.717823,
 'BYN': 2.762091,
 'BYR': 21608.743333,
 'BZD': 2.205774,
 'CAD': 1.475514,
 'CDF': 2690.068446,
 'CHF': 0.962038,
 'CLF': 0.033757,
 'CLP': 931.462205,
 'CNY': 7.872974,
 'COP': 4564.524752,
 'CRC': 594.212096,
 'CUC': 1.102487,
 'CUP': 29.215903,
 'CVE': 110.249087,
 'CZK': 24.302675,
 'DJF': 194.841176,
 'DKK': 7.461676,
 'DOP': 61.790859,
 'DZD': 149.432222,
 'EGP': 33.86819,
 'ERN': 16.537304,
 'ETB': 60.310578,
 'EUR': 1,
 'FJD': 2.445651,
 'FKP': 0.863025,
 'GBP': 0.864831,
 'GEL': 2.872023,
 'GGP': 0.863025,
 'GHS': 12.365171,
 'GIP': 0.863025,
 'GMD': 66.594457,
 'GNF': 9411.607703,
 'GTQ': 8.603727,
 'GYD': 228.946131,
 'HKD': 8.605576,
 'HNL': 26.911019,
 'HRK': 7.412966,
 'HTG': 149.367903,
 'HUF': 390.280754,
 'IDR': 16705.873819,
 'ILS': 4.027076,
 'IMP': 0.863025,
 'INR': 91.157752,
 'IQD': 1433.487938,
 'IRR': 46648.981366,
 'ISK': 145.28615,
 'JEP': 0.863025,
 'JMD': 169.19497,
 'JOD': 0.780675,
 'JPY': 156.283075,
 'KES': 155.60698,
 'KGS': 96.835729,
 'KHR': 4525.33055,
 'KMF': 495.926215,
 'KPW': 992.215014,
 'KRW': 1437.687446,
 'KWD': 0.339048,
 'KYD': 0.911965,
 'KZT': 487.427893,
 'LAK': 21264.854206,
 'LBP': 16425.270144,
 'LKR': 351.278034,
 'LRD': 205.838467,
 'LSL': 20.620664,
 'LTL': 3.255358,
 'LVL': 0.666884,
 'LYD': 5.254223,
 'MAD': 10.651924,
 'MDL': 19.205159,
 'MGA': 4937.26961,
 'MKD': 61.610886,
 'MMK': 2297.960054,
 'MNT': 3814.283922,
 'MOP': 8.802398,
 'MRO': 393.587635,
 'MUR': 49.836535,
 'MVR': 16.923591,
 'MWK': 1149.529945,
 'MXN': 18.828827,
 'MYR': 5.021871,
 'MZN': 69.732713,
 'NAD': 20.620617,
 'NGN': 846.103991,
 'NIO': 40.034078,
 'NOK': 11.243063,
 'NPR': 144.964555,
 'NZD': 1.827536,
 'OMR': 0.4245,
 'PAB': 1.094338,
 'PEN': 4.037903,
 'PGK': 3.976412,
 'PHP': 61.230473,
 'PKR': 310.176114,
 'PLN': 4.446842,
 'PYG': 7973.820401,
 'QAR': 4.014197,
 'RON': 4.953037,
 'RSD': 117.272651,
 'RUB': 105.700974,
 'RWF': 1288.4094,
 'SAR': 4.136094,
 'SBD': 9.226478,
 'SCR': 14.822979,
 'SDG': 663.149928,
 'SEK': 11.671923,
 'SGD': 1.476345,
 'SHP': 1.341451,
 'SLE': 23.333579,
 'SLL': 21774.116742,
 'SOS': 627.870332,
 'SRD': 42.231905,
 'STD': 22819.253016,
 'SVC': 9.574584,
 'SYP': 14442.680828,
 'SZL': 20.477971,
 'THB': 38.234653,
 'TJS': 11.998825,
 'TMT': 3.858704,
 'TND': 3.405307,
 'TOP': 2.612398,
 'TRY': 29.701773,
 'TTD': 7.418902,
 'TWD': 34.911906,
 'TZS': 2741.294469,
 'UAH': 40.416621,
 'UGX': 3950.415599,
 'USD': 1.102487,
 'UYU': 41.443869,
 'UZS': 12759.112494,
 'VEF': 3314591.241913,
 'VES': 33.148027,
 'VND': 26167.526684,
 'VUV': 132.539559,
 'WST': 3.015179,
 'XAF': 655.859976,
 'XAG': 0.046666,
 'XAU': 0.000568,
 'XCD': 2.979526,
 'XDR': 0.814879,
 'XOF': 655.859976,
 'XPF': 120.336847,
 'YER': 276.007997,
 'ZAR': 20.361787,
 'ZMK': 9923.709083,
 'ZMW': 21.119876,
 'ZWL': 355.000334}

In [12]:
rates_dict = req.json()['rates']

In [25]:
data = pd.DataFrame(req.json())
data

     success   timestamp base        date        rates
AED     True  1691231823  EUR  2023-08-05     4.049480
AFN     True  1691231823  EUR  2023-08-05    93.236207
ALL     True  1691231823  EUR  2023-08-05   103.764650
AMD     True  1691231823  EUR  2023-08-05   423.837300
ANG     True  1691231823  EUR  2023-08-05     1.972208
..       ...         ...  ...         ...          ...
YER     True  1691231823  EUR  2023-08-05   276.007997
ZAR     True  1691231823  EUR  2023-08-05    20.361787
ZMK     True  1691231823  EUR  2023-08-05  9923.709083
ZMW     True  1691231823  EUR  2023-08-05    21.119876
ZWL     True  1691231823  EUR  2023-08-05   355.000334

[170 rows x 5 columns]

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [34]:
# Turn the data into a dataframe
data = pd.DataFrame(req.json())
data.head()

     success   timestamp base        date       rates
AED     True  1691231823  EUR  2023-08-05    4.049480
AFN     True  1691231823  EUR  2023-08-05   93.236207
ALL     True  1691231823  EUR  2023-08-05  103.764650
AMD     True  1691231823  EUR  2023-08-05  423.837300
ANG     True  1691231823  EUR  2023-08-05    1.972208

In [36]:
# Drop unnescessary columns
data = data.drop(columns=['success', 'timestamp', 'base', 'date'])
data.head()

          rates
AED    4.049480
AFN   93.236207
ALL  103.764650
AMD  423.837300
ANG    1.972208

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [39]:
# Save the Dataframe
with open('exchange_rates_1.csv', 'w') as f:
    f.write(data.to_csv())

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).